.iwindow-backdrop {
	background-color:black;
	opacity:.25;
}
.iwindow-header {
	background-color:#eee; 
}
.iwindow-chrome {
	border:4px solid #eee; 	
	background-color:white;
}


#iwindow-backdrop {
	display:none;
	cursor:pointer;
	position:fixed;
	top:0; height:100%;
	left:0; width:100%;

}

#iwindow 					{ 
	position:fixed;
	top:0; height:100%;
	left:0; width:100%;
	border-top:0;
	box-sizing:border-box;
}

#iwindow 					{ 
	display:none; 
}

	#iwindow header 	{ 
		height:30px;
		line-height:30px;
		padding-left:.5em; 
		font-size:small;
		
	}
	#iwindow-title 	{ 
		text-transform:uppercase;
		font-weight:bold;
	}
	
	#iwindow-close 		{ 
		width:30px;
		height:30px;
		text-align:center;
		cursor:pointer;
		float:right; 
	}
	#iwindow-close:before {
		content:"\00274C";
	}
	#iwindow section {
		position:absolute;
		top:30px; bottom:0;
		left:0 ; right:0;
	}
	#iwindow iframe		{ 
		width:100%; height:100%; 
		border:0px none; 	
	}
	
@media (min-width: 960px) {

	#iwindow 					{ 
		width:80%; 
		left:10%;
		top:10%;
		height:80%; 	
	}

}